@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0%;
    text-decoration: none;
    font-family: 'Poppins';
}

.bloc {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sm-bloc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 560px;
}

.h100{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    color: #00CBB8;
}

.h1{
    color: black;
}

.p69{
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #696984;
    margin-top: 1pc;
}

.prob{
    margin-top: 7pc;
}

.btn{
    width: 280px;
    height: 80px;
    border: 1px solid #49BBBD;
    border-radius: 80px;
    color: #49BBBD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10pc;
    cursor: pointer;
    background: transparent;
    transition: .3s;
}

.btn:hover{
    color: white;
    background: #49BBBD;
}

.text3{
    z-index: 1;
    margin-bottom: 8pc;
    width: 80%;
}  

.text3 h1{
    font-weight: 700;
    font-size: 40px;
}

.text3 h6{
    font-weight: 500; 
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 1pc;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2408.89px;
    position: relative;
    z-index: 10;
    margin-top: 3pc;
}

.card2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}

.card::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background: #c9e0f5;
    z-index: 0;
}

.sm-card{
    width: 80%;
    display: flex;
    flex-direction: column;
    transform: translateY(8pc);
}

.ms-card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3pc;
}

.ms-card span{
    display: flex;
    align-items: center;
}

.svg{
    margin-right: 1pc;
}

.svg1{
    margin-left: 3pc;
}

.ms-card1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5pc;

}

.ms-card span:nth-child(1){
    font-weight: 700;
    font-size: 28px;
}

.ms-card span:nth-child(2){
    font-weight: 500;
    font-size: 24px;
    color: #00BCD4;
    text-transform: uppercase;
}

.cards{
    background: #FFFFFF;
    box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);   
    width:100px;
    height:418px;
    margin-right: 3pc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards span{
    z-index: 5;
    transform: rotate(90deg); 
    font-weight: 500;
    color: white;
}

.imgc{
    width: 600px;
    height: 400px;
    background-size: cover;
    background-image: url(img/Detail.png);
}

.cards::after{
    content: '';
    position: absolute;
    width: 83%;
    border-radius: 24px;
    height: 372px;
    background: #80f7bc;
}

.cards::before{
    content: '';
    position: absolute;
    width: 70%;
    border-radius: 24px;
    height: 302px;
    background: #FF6F00;
    z-index: 1;
}

.s2::before{
    background: #FF8374;
}

.s3::before{
    background: #B45A1B;
}

.s4::before{
    background: #FFB300;
}

.s5::before{
    background: #C583FF;
}

.s6::before{
    background: #00A8FF;
}

.s7::before{
    background: #6DB4A7;
}

.chz{
    width: 80%;
    height: 60px;
    background: rgb(185, 184, 184);
    border-radius: 30px;
}

.res{
    display: flex;
    width: 100%;
    height: 821px;
    align-items: center;
    justify-content: center;
}

.sm-res{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
}

.info .span{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
    color: #525596;
    margin-left: 6pc;
    position: relative;
    display: flex;
    align-items: center;
}

.info .span::after{
    content: '';
    position: absolute;
    left: -6pc;
    width: 4pc;
    height: 1px;
    background: #525596;
}

.info h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #2F327D;
    margin: 2pc 0;
}

.info p{
    font-weight: 400;
    font-size: 26px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 70%;
    margin: 1pc;
}

.info button{
    border: 1px solid #49BBBD;
    border-radius: 80px;
    display: flex;
    align-items: center;
    width: 403px;
    height: 80px;
    background: none;
    position: relative;
}

.info button span{
    font-weight: 400;
    position: absolute;
    left: 1.3pc;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #49BBBD;
}

.st{
    border: 1px #00CBB8 solid;
    padding: 30px;
    border-radius: 80px;
    position: absolute;
    right: -1px;
}

