@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* amirxon */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar-a {
    width: 100%;
    height: 100vh;
    background-color: #49BBBD;
    border-radius: 20%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.totc-a {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: white;
}
.totc-a::after {
    content: "";
    position: absolute;
    width: 83px;
    height: 83px;
    color: #00FFF0;
    border: 1px solid #00FFF0;
    border-radius: 6px;
    background: none;
    transform: rotate(-50deg);
    left: -50px;
    top: -15px;
}

/* amirxon 1*/

/* qadamboy */

.bloc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 560px;
}

.sm-bloc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    color:#00CBB8;
}

.text h1:nth-child(2){
    color: black;
}

.text p{
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 80%;
}
/* qadamboy */